
  /*--*/
  :root {
    --primaryBg:  #000605;
    --primaryBg3: #00392f;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #ffb700;
    --accentG: #ffb700;
    --accentRGBA: rgba(255, 183, 0, 0.6);
    --accentTxt: #000;

    --brandG: #deb887;
    --brandBg: #deb887;
    --brandTxt: #000;

    --actionButtonG: #ffb700;
    --actionButtonTxt: #000;

    --widgetG: #314D47;
    --widgetBg: #314D47;
    --widgetBg2: #273d39;
    --widgetBg3: #1d2e2a;
    --widgetRGBA: rgba(49, 77, 71, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #0d1614;
    --oddBg: #0d1614;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --showMoreG: #1d2e2a;
    --showMoreBg: #1d2e2a;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerBG: undefined;
    --headerG: undefined;
    --headerTxt: #fff;

    --popupHeaderG: #273d38;
    --popupHeaderBg: #273d38;
    --popupHeaderTxt: #fff;

    --popupBg: #000000;
    --popupG: #000000;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #1d2e2a;
    --tabBg: #1d2e2a;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #273d38;
    --activeTabBg: #273d38;
    --activeTabTxt: #fff;

    --sideBarTabG: #1d2e2a;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #273d38;
    --sideBarActiveTabTxt: #fff;

    --inputG: #273d38;
    --inputBg: #273d38;
    --inputBg2: #1d2d2a;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;

}
/*---*/
#dm-main-container.dm__wrapper{background-color:#314d47}#dm-main-container .dm__collapse__home{background-color:#152320;color:#deb887;border-color:#deb887}#dm-main-container .dm__collapse__home .dm__ico_arrow{color:#ccc}#dm-main-container .dm__event_row-flags,#dm-main-container .dm__championship__header{background-color:#456c64;color:#fff;border-color:#314d47}#dm-main-container .dm__custom_select__wrapper--live{background-color:#456c64;color:#fff}#dm-main-container .dm__homepage__sport_singlegames,#dm-main-container .dm__homepage__sport_singlegames_cont{background-color:#314d47}#dm-main-container .dm-count-bubble{background-color:#deb887;color:#000}#dm-main-container .dm__go_back,#dm-main-container .dm__font-fav,#dm-main-container .dm__mybets__more .dm--svg-icon{color:#fff;fill:#fff}#dm-main-container .dm__favorite-added,#dm-main-container .dm__font_cup{color:#deb887}#dm-main-container .dm__market_collapser{background-color:#517f75;color:#fff}#dm-main-container .dm__homepage__sport_section__item{background-color:#152320;color:#fff}#dm-main-container .dm__homepage__sport_section__market_head,#dm-main-container .dm__homepage__sport_section__market_head .dm--input-select-value{background-color:#517f75;color:#fff}#dm-main-container .dm__homepage__sport_tournament_heading,#dm-main-container .dm__custom_select__heading{background-color:#517f75;color:#e6e6e6}#dm-main-container .dm__custom_select__item{background-color:#456c64;color:#fff}#dm-main-container .dm__custom_select__item.dm--selected{background-color:#517f75}#dm-main-container .dm__single_game,#dm-main-container .dm__mybets_game .dm__mybets_game__info{background-color:#456c64;color:#fff}#dm-main-container .dm__mybets_game__info .dm--akcented,#dm-main-container .dm__mybets-res-row.dm--akcent{color:#deb887}#dm-main-container a.dm__single_game__link{color:#fff}#dm-main-container .dm__single_game__link .dm__scores{color:#deb887}#dm-main-container .dm__single_game__link .dm__time,#dm-main-container .dm__single_game__link .dm__font-tv--onegame,#dm-main-container .dm__single_game__link .dm__more{color:#ccc}#dm-main-container .dm__favorite-added{color:#deb887}#dm-main-container .dm__betslip_btn__count{background:#deb887;color:#000;border-color:#fff}#dm-main-container .dm__betslip_btn{background-color:#fff;color:#2b2b2b;border-right-color:#deb887}#dm-main-container .dm__tabs_container{background-color:#314d47;border-bottom-color:#314d47}#dm-main-container .dm__tabs_container .dm__tabs__item{background-color:#314d47;color:#fff}#dm-main-container .dm__tabs_container .dm__tabs__item.dm__tabs__item-active{background-color:#456c64;color:#deb887}#dm-main-container .dm__tabs_container .dm__tabs__item-active .dm__menu__fav_count{background-color:#deb887;color:#000}#dm-main-container .dm--tabs-event.dm__market_collapser{background-color:#314d47;border-bottom-color:#314d47}#dm-main-container .dm--tabs-event.dm__market_collapser .dm__font_arrows{color:#fff}#dm-main-container .dm__homepage__multibet_heading{background-color:#517f75;color:#e6e6e6}#dm-main-container .dm__multibet_odd{background-color:#314d47;color:#fff}#dm-main-container .dm__multibet_total_container{background-color:#456c64;color:#fff}#dm-main-container .dm__multibet_total_factor{background-color:#517f75;color:#deb887}#dm-main-container .dm__multibet_btn{background-color:#deb887;color:#000}#dm-main-container .dm__live_game_notice{background-color:#517f75;color:#ccc}#dm-main-container .dm__cashout_badge{background-color:#517f75;color:#ccc}#dm-main-container .dm__image_header-devider{border-color:#deb887}#dm-main-container .dm__image_header__score .dm--akcented{color:#deb887}#dm-main-container .dm__radio-slider,#dm-main-container .dm__radio-slider:after{background-color:#999}#dm-main-container .dm__radio-slider-cont .dm__radio-hide:checked+.dm__radio-slider:after{background-color:#deb887}#dm-main-container .dm__event_row-flags-sub,#dm-main-container .dm__event_row-championships{background-color:#517f75;color:#fff}#dm-main-container .dm__betslip__body,#dm-main-container .dm__betslip__options__row{background-color:#314d47;color:#fff}#dm-main-container .dm__betslip__bet{background-color:#456c64;color:#ccc}#dm-main-container .dm__betslip__bet .dm__stake_name_link{color:#fff}#dm-main-container .dm__betslip__bet__factor .dm__bf,#dm-main-container .dm--possible-winning-count{color:#deb887}#dm-main-container .dm__betslip_stake_trigger_text .dm__dtt__number,#dm-main-container .dm__betslip_tour{background-color:#456c64;color:#deb887}#dm-main-container .dm__btn--keyboard,#dm-main-container .dm__btn--betslip,#dm-main-container .dm__btn{background-color:#456c64;color:#ccc}#dm-main-container .dm__btn-bet,#dm-main-container .dm__btn--primary,#dm-main-container .dm__tournament-prize{background-color:#deb887 !important;color:#000 !important}#dm-main-container .dm__popup-bg,#dm-main-container .dm__custom_select__button{background-color:#314d47;color:#fff}#dm-main-container .dm__keyboard_trigger,#dm-main-container .dm--input-imit,#dm-main-container .dm--input-select,#dm-main-container .dm--input,#dm-main-container .dm--input-calendar input{background-color:#456c64 !important;color:#ccc !important}#dm-main-container .dm-table{background-color:#456c64;color:#ccc;border-bottom:1px solid #314d47}#dm-main-container .dm-table .dm-table-l{color:#ccc}#dm-main-container .dm-table .dm-table-r{color:#fff}#dm-main-container .dm__custom_select__wrapper{background-color:#314d47 !important;color:#fff}#dm-main-container .dm__calendar-row{background-color:#456c64;color:#fff}#dm-main-container .dm__calendar-row.active{background-color:#517f75}#dm-main-container .dm__calendar__time{color:#deb887}
