
  /*--*/
  :root {
    --primaryBg:  #004757;
    --primaryBg3: #001d24;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #f27404;
    --accentG: #f27404;
    --accentRGBA: rgba(242, 116, 4, 0.6);
    --accentTxt: #fff;

    --brandG: #f27404;
    --brandBg: #f27404;
    --brandTxt: #fff;

    --actionButtonG: #f27404;
    --actionButtonTxt: #fff;

    --widgetG: #ffffff;
    --widgetBg: #ffffff;
    --widgetBg2: #f2f2f2;
    --widgetBg3: #e6e6e6;
    --widgetRGBA: rgba(255, 255, 255, 0.6);
    --widgetTxt: #000;
    --widgetTxt2: #4d4d4d;
    --widgetTxt3: #666666;

    --oddG: #005c70;
    --oddBg: #005c70;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --showMoreG: #004757;
    --showMoreBg: #004757;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerBG: undefined;
    --headerG: undefined;
    --headerTxt: #000;

    --popupHeaderG: #f0f0f0;
    --popupHeaderBg: #f0f0f0;
    --popupHeaderTxt: #000;

    --popupBg: #000000;
    --popupG: #000000;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #e0e0e0;
    --tabBg: #e0e0e0;
    --tabTxt: #000;
    --tabTxt2: #4d4d4d;

    --activeTabG: #f0f0f0;
    --activeTabBg: #f0f0f0;
    --activeTabTxt: #000;

    --sideBarTabG: #e0e0e0;
    --sideBarTabTxt: #000;

    --sideBarActiveTabG: #f0f0f0;
    --sideBarActiveTabTxt: #000;

    --inputG: #ffffff;
    --inputBg: #ffffff;
    --inputBg2: #f2f2f2;
    --inputTxt:  #000;
    --inputTxt2: #4d4d4d;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;

}
/*---*/
#dm-main-container.dm__wrapper{background-color:#0095a5}#dm-main-container .dm__collapse__home{background-color:#004b53;color:#f27404;border-color:#f27404}#dm-main-container .dm__collapse__home .dm__ico_arrow{color:#ccc}#dm-main-container .dm__event_row-flags,#dm-main-container .dm__championship__header{background-color:#006772;color:#fff;border-color:#0095a5}#dm-main-container .dm__custom_select__wrapper--live{background-color:#006772;color:#fff}#dm-main-container .dm__homepage__sport_singlegames,#dm-main-container .dm__homepage__sport_singlegames_cont{background-color:#0095a5}#dm-main-container .dm__menu__fav_count{background-color:#f27404;color:#fff}#dm-main-container .dm__go_back,#dm-main-container .dm__font-fav,#dm-main-container .dm__mybets__more .dm--svg-icon{color:#fff;fill:#fff}#dm-main-container .dm__favorite-added,#dm-main-container .dm__font_cup{color:#f27404}#dm-main-container .dm__market_collapser{background-color:#004b53;color:#fff}#dm-main-container .dm__homepage__sport_section__item{background-color:#006772;color:#fff}#dm-main-container .dm__homepage__sport_section__market_head,#dm-main-container .dm__homepage__sport_section__market_head .dm--input-select-value{background-color:#004b53;color:#fff}#dm-main-container .dm__homepage__sport_tournament_heading,#dm-main-container .dm__custom_select__heading{background-color:#004b53;color:#e6e6e6}#dm-main-container .dm__custom_select__item{background-color:#006772;color:#fff}#dm-main-container .dm__custom_select__item.dm--selected{background-color:#004b53}#dm-main-container .dm__custom_select__item .dm__scores-akcented{color:#f27404}#dm-main-container .dm__single_game,#dm-main-container .dm__mybets_game .dm__mybets_game__info{background-color:#ffffff;color:#000000}#dm-main-container .dm__mybets_game__info .dm--akcented,#dm-main-container .dm__mybets-res-row.dm--akcent{color:#f27404}#dm-main-container .dm__single_game__link{color:#000000}#dm-main-container .dm__single_game__link .dm__scores{color:#f27404}#dm-main-container .dm__single_game__link .dm__time,#dm-main-container .dm__single_game__link .dm__font-tv--onegame,#dm-main-container .dm__single_game__link .dm__more{color:#ccc}#dm-main-container .dm__favorite-added{color:#f27404}#dm-main-container .dm__betslip_btn__count{background:#f27404;color:#fff;border-color:#fff}#dm-main-container .dm__betslip_btn{background-color:#fff;color:#2b2b2b;border-right-color:#f27404}#dm-main-container .dm__tabs_container{background-color:#0095a5;border-bottom-color:#0095a5}#dm-main-container .dm__tabs_container .dm__tabs__item{background-color:#0095a5;color:#fff}#dm-main-container .dm__tabs_container .dm__tabs__item.dm__tabs__item-active{background-color:#006772;color:#f27404}#dm-main-container .dm__tabs_container .dm__tabs__item-active .dm__menu__fav_count{background-color:#f27404;color:#fff}#dm-main-container .dm--tabs-event.dm__market_collapser{background-color:#0095a5;border-bottom-color:#0095a5}#dm-main-container .dm--tabs-event.dm__market_collapser .dm__font_arrows{color:#fff}#dm-main-container .dm__homepage__multibet_heading{background-color:#004b53;color:#e6e6e6}#dm-main-container .dm__multibet_odd{background-color:#0095a5;color:#fff}#dm-main-container .dm__multibet_total_container{background-color:#006772;color:#fff}#dm-main-container .dm__multibet_total_factor{background-color:#004b53;color:#f27404}#dm-main-container .dm__multibet_btn{background-color:#f27404;color:#fff}#dm-main-container .dm__live_game_notice{background-color:#004b53;color:#ccc}#dm-main-container .dm__cashout_badge{background-color:#004b53;color:#ccc}#dm-main-container .dm__image_header-devider{border-color:#f27404;color:#f27404}#dm-main-container .dm__radio-slider,#dm-main-container .dm__radio-slider:after{background-color:#999}#dm-main-container .dm__radio-slider-cont .dm__radio-hide:checked+.dm__radio-slider:after{background-color:#f27404}#dm-main-container .dm__event_row-flags-sub,#dm-main-container .dm__event_row-championships{background-color:#004b53;color:#fff}#dm-main-container .dm__betslip__body,#dm-main-container .dm__betslip__options__row{background-color:#0095a5;color:#fff}#dm-main-container .dm__betslip__bet{background-color:#006772;color:#ccc}#dm-main-container .dm__betslip__bet .dm__stake_name_link{color:#fff}#dm-main-container .dm__betslip__bet__factor .dm__bf,#dm-main-container .dm--possible-winning-count{color:#f27404}#dm-main-container .dm__betslip_stake_trigger_text .dm__dtt__number,#dm-main-container .dm__betslip_tour{background-color:#006772;color:#f27404}#dm-main-container .dm__btn--keyboard,#dm-main-container .dm__btn--betslip,#dm-main-container .dm__btn{background-color:#006772;color:#ccc}#dm-main-container .dm__btn-bet,#dm-main-container .dm__btn--primary,#dm-main-container .dm__tournament-prize{background-color:#f27404 !important;color:#fff !important}#dm-main-container .dm__popup-bg,#dm-main-container .dm__custom_select__button{background-color:#0095a5;color:#fff}#dm-main-container .dm__keyboard_trigger,#dm-main-container .dm--input-imit,#dm-main-container .dm--input-select,#dm-main-container .dm--input,#dm-main-container .dm--input-calendar input{background-color:#006772 !important;color:#ccc !important}#dm-main-container .dm-table{background-color:#006772;color:#ccc;border-bottom:1px solid #0095a5}#dm-main-container .dm-table .dm-table-l{color:#ccc}#dm-main-container .dm-table .dm-table-r{color:#fff}#dm-main-container .dm__custom_select__wrapper{background-color:#0095a5 !important;color:#fff}#dm-main-container .dm__calendar-row{background-color:#006772;color:#fff}#dm-main-container .dm__calendar-row.active{background-color:#004b53}#dm-main-container .dm__calendar__time{color:#f27404}
